.toolbar .toolbar-bar .menu-item .toolbar-icon-draft-administration-catalogue:before {
  -webkit-mask-image: url("../icons/catalogue.svg");
  mask-image: url("../icons/catalogue.svg");
}
.toolbar .toolbar-bar .menu-item .toolbar-icon-draft-administration-shop-settings:before {
  -webkit-mask-image: url("../icons/settings.svg");
  mask-image: url("../icons/settings.svg");
}

.toolbar .toolbar-bar .menu-item .toolbar-icon-draft-administration-sales:before {
  -webkit-mask-image: url("../icons/sales.svg");
  mask-image: url("../icons/sales.svg");
}
