<?xml version="1.0"?>
<ruleset name="drupal_commerce">
    <description>The coding standard for Drupal 9 Commerce projects.</description>
    <arg name="extensions" value="inc,install,module,php,profile,test,theme"/>
    <config name="installed_paths" value="./vendor/drupal/coder/coder_sniffer"/>
    <file>./docroot/modules/custom</file>
    <file>./docroot/themes/custom</file>

    <exclude-pattern>./docroot/themes/custom/**/*.css</exclude-pattern>
    <exclude-pattern>./docroot/themes/**/node_modules/**</exclude-pattern>
    <exclude-pattern>./docroot/modules/custom/**/*.txt</exclude-pattern>
    <exclude-pattern>./docroot/modules/custom/**/*.md</exclude-pattern>

    <rule ref="Drupal"/>
    <rule ref="DrupalPractice"/>
</ruleset>
